################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/cohort/FileContentIndex
/.vs/cohort/v17
*.sqlite
/.vs/VSWorkspaceState.json
bin/
obj/
.vscode/
.vs/
.idea/
.fake
node_modules/
/SmartGym/appsettings.Development.json
.DS_Store
/SmartGym/wwwroot/lib/db_images