################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/cohort/FileContentIndex
/.vs/cohort/v17
*.sqlite
/.vs/VSWorkspaceState.json
