@page "/classes"
@using SmartGym.Components.Display
@using SmartGym.Models
@using SmartGym.Services
@inject IClassService classService
<PageTitle>All Classes</PageTitle>
<h1 class="text-4xl font-extrabold">
	Burn Baby Burn.
</h1>
<h4 class="text-4xl font-extrabold ml-4">- Sincerely, Calories</h4>

<br /><br />


<br />
@if (allClasses == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3 p-2">
		@foreach (ClassDTO classDTO in allClasses)
		{
			<div class="min-w-[220px] max-w-[260px] w-full mx-auto">
				<ClassCard currClass=@classDTO />
			</div>
		}
	</div>
}
@code {
    private List<ClassDTO> allClasses;

    private async Task getAllClasses()
    {
        allClasses = await classService.GetAllClasses();
    }

    protected override async Task OnInitializedAsync()
    {
        await getAllClasses();
    }

}
