@page "/addnewmember"

<PageTitle>Add New Member</PageTitle>

<div>
    <div>
        <form @* id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" *@>
            <h4>Register a New Member</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <p>First Name</p>
                <input asp-for="Input.FirstName" class="form-control" aria-required="true" placeholder="first name" />
                <label asp-for="Input.FirstName"></label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div>
                <p>Last Name</p>
                <input asp-for="Input.LastName" class="form-control" aria-required="true" placeholder="last name" />
                <label asp-for="Input.LastName"></label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div>
                <p>Email</p>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="email address" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div>
                <p>Birthday</p>
                <label for="dob"></label>
                <input type="date" id="dob" name="DOB">
            </div>
            <div>
                <p>Membership Plan</p>
                <label for="plans"></label>
                <select name="plans" id="plans">
                    <option value="" disabled selected>Select a plan</option>
                    <option value="basic">Basic</option>
                    <option value="premium">Premium</option>
                </select>
            </div>
            <div>
                <p>Status</p>
                <label for="status"></label>
                <select name="status" id="status">
                    <option value="" disabled selected>Select status</option>
                    <option value="active">Active</option>
                    <option value="inactive">Inactive</option>
                </select>
            </div>
            <div>
                <p>Observations</p>
                <input asp-for="Input.Observations" class="form-control" autocomplete="username" aria-required="true" placeholder="observations" />
                <label asp-for="Input.Observations"></label>
                <span asp-validation-for="Input.Observations" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="">[Register]</button>
            <a asp-action="Index" asp-controller="Home" class="">[Cancel]</a>
        </form>
    </div>
</div>

@code {

}
