@page "/deletemember"

<PageTitle>Delete Member</PageTitle>

<div>
    <div>
        <form @* id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" *@>
            <h4>Delete Member</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <p>First Name</p>
            </div>
            <div>
                <p>Last Name</p>
            </div>
            <div>
                <p>Email</p>
            </div>
            <div>
                <p>Birthday</p>
            </div>
            <div>
                <p>Membership Plan</p>
            </div>
            <div>
                <p>Status</p>
            </div>
            <div>
                <p>Observations</p>
            </div>
            <div>
                <p>Are you sure you want to delete this member?</p>
                <p>This member will be permanantly deleted.</p>
                <input hidden asp-for="Id" />
                <button type="submit" class="">[Delete]</button>
                <a asp-action="Index" asp-controller="Contacts" class="">[Cancel]</a>
            </div>
        </form>
    </div>
</div>

@code {

}
