@page "/home"

<PageTitle>Smart Gym</PageTitle>
<style>
	main {
		margin: 0;
	}
</style>

<section id="outer" aria-labelledby="smart">
	<div id="home-top-video">
		<video autoplay loop muted class="w-full home-video">
			<source src="./lib/videos/home.mp4" type="video/mp4" /> Your browser does not support the video tag. We suggest you upgrade your browser.
		</video>
		<div id="home-text">
			<h1 class="p5" id="smart">Smart Gym</h1>
			<span class="text-xl">Home of the Greatest Gains. More than one million members and growing</span>
		</div>
	</div>
	<div class="absolute  inset-x-0 bottom-0 z-1">
		<button class="p-5 my-5 bg-accent text-xl  hover:cursor-pointer hover:bg-violet-600 focus:outline-2 btn-join">Join us today for Free!</button>
	</div>
</section>
<div class="bg-text ">
	<section class="text-center text-primary p-5 contained text-4xl w-50 my-5" aria-labelledby="why">
		<h2 id="why" class="text-3xl mb-3">Why Choose Us?</h2>
		<div class="grid grid-cols-3 gap-4 px-5">
			<article class="why p-4 shadow-sm hover:shadow-md transition-all duration-300 border border-gray-200 cursor-pointer transform hover:-translate-y-1">
				<h3 class="text-background"><i class="fa-solid fa-hand-holding-heart"></i><br />Respect</h3>
				<span class="text-lg">We are nurturers: we seek only to encourage, entertain, and empower.</span>
			</article>
			<article class="why p-4 shadow-sm hover:shadow-md transition-all duration-300 border border-gray-200 cursor-pointer transform hover:-translate-y-1">
				<h3 class="text-background"><i class="fa-solid fa-hands-asl-interpreting"></i><br />Community</h3>
				<span class="text-lg">Here we keep open minds</span>
			</article>
			<article class="why p-4 shadow-sm hover:shadow-md transition-all duration-300 border border-gray-200 cursor-pointer transform hover:-translate-y-1">
				<h3 class="text-background"><i class="fa-solid fa-icons"></i><br />Fun</h3>
				<span class="text-lg">We know serious fitness is hard, but that doesn’t mean it can’t be fun.</span>
			</article>
		</div>

	</section>
</div>

<section class="hero text-white text-2xl flex">
	<div class="bento contained py-5">
		<div class="bento-wrapper">
			<article class="bg-primary-500 first-grid shadow-sm hover:shadow-md transition-all duration-300transform hover:-translate-y-1">
				<h2 class="mb-3">Strength, Endurance, Transformation</h2>
				Join over 500+ members to achieve your fitness goals with expert guidance and state-of-the-art facilities.
			</article>
			<article class="bg-primary-900 second-grid shadow-sm hover:shadow-md transition-all duration-300transform hover:-translate-y-1">
				<h2 class="mb-3">Our Perks</h2>
				Enjoy many perks of being part of our family.
				<ul class="list-image-[url(/lib/images/checkmark.png)]">
					<li>24/7 Access</li>
					<li>Modern equipment</li>
					<li>Amenities</li>
					<li>Giant pool</li>
					<li>Great cafe</li>
					<li>Friendly staff</li>
					<li>And much more...</li>
				</ul>
			</article>
			<article class="bg-secondary third-grid shadow-sm hover:shadow-md transition-all duration-300transform hover:-translate-y-1">
				<h2 class="mb-3">Nutrition</h2>
				Power up your workouts with our premium supplements.
			</article>
		</div>
	</div>
</section>
<section aria-label="pricing" class="bg-background text-white text-2xl">
	<div class="contained my-5">
		<h2 class="text-center my-3">Membership Tiers</h2>
		<div class="pricing-cards">
			<article class="pricing-card shadow-sm hover:shadow-md transition-all duration-300transform hover:-translate-y-1">
				<div>
					<h3 class="text-4xl font-bold"> Basic</h3>
					<div class="pricing-card-text">
						<ul class="">
							<li>24/7 Access</li>
							<li>Modern equipment</li>
							<li>Amenities</li>
							<li>Giant pool</li>
							<li>Great cafe</li>
							<li>Friendly staff</li>
							<li>And much more...</li>
						</ul>
					</div>
				</div>
			</article>

			<article class="pricing-card shadow-sm hover:shadow-md transition-all duration-300transform hover:-translate-y-1">
				<div>
					<h3 class="text-4xl font-bold">Premium</h3>
					<div class="pricing-card-text">
						<ul class="">
							<li>24/7 Access</li>
							<li>Modern equipment</li>
							<li>Amenities</li>
							<li>Giant pool</li>
							<li>Great cafe</li>
							<li>Friendly staff</li>
							<li>And much more...</li>
						</ul>
					</div>
				</div>
			</article>

			<article class="pricing-card shadow-sm hover:shadow-md transition-all duration-300transform hover:-translate-y-1">
				<div>
					<h3 class="text-4xl font-bold">Premium+</h3>
					<div class="pricing-card-text">
						<ul class="">
							<li>24/7 Access</li>
							<li>Modern equipment</li>
							<li>Amenities</li>
							<li>Giant pool</li>
							<li>Great cafe</li>
							<li>Friendly staff</li>
							<li>And much more...</li>
						</ul>
					</div>
				</div>
			</article>
		</div>
	</div>
	
</section>
<section aria-label="testimonials" class="bg-primary text-white text-2xl">
	<div class="contained my-5">

		<h2 class="text-center my-3">Testimonials</h2>
		<div class="section-cards">
			<article class="section-card shadow-sm hover:shadow-md transition-all duration-300transform hover:-translate-y-1">
				Life Changing
				<div class="inline-block">
					<i class="fa-solid fa-star text-accent mr-1"></i>
					<i class="fa-solid fa-star text-accent mr-1"></i>
					<i class="fa-solid fa-star text-accent mr-1"></i>
					<i class="fa-solid fa-star text-accent mr-1"></i>
					<i class="fa-solid fa-star text-accent mr-1"></i>
				</div>
				
				
			</article>
			<article class="section-card shadow-sm hover:shadow-md transition-all duration-300transform hover:-translate-y-1">
				The best of the best
				<div class="inline-block">
					<i class="fa-solid fa-star text-accent mr-1"></i>
					<i class="fa-solid fa-star text-accent mr-1"></i>
					<i class="fa-solid fa-star text-accent mr-1"></i>
					<i class="fa-solid fa-star text-accent mr-1"></i>
					<i class="fa-solid fa-star text-accent mr-1"></i>
				</div>
			</article>
			<article class="section-card shadow-sm hover:shadow-md transition-all duration-300transform hover:-translate-y-1">
				It's only a model...
				<div class="inline-block">
					<i class="fa-solid fa-star text-accent mr-1"></i>
					<i class="fa-solid fa-star text-accent mr-1"></i>
					<i class="fa-solid fa-star text-accent mr-1"></i>
					<i class="fa-solid fa-star text-accent mr-1"></i>
					<i class="fa-solid fa-star text-accent mr-1"></i>
				</div>
			</article>
		</div>
		
	</div>
</section>