@page "/"
@inject NavigationManager Navigation

<PageTitle>Login</PageTitle>
<div class="rounded bg-blue-500 p-4 text-white">
    Tailwind is working!
</div>

<section>
    <h1>Welcome to SMART Gym!</h1>
    <form @onsubmit="HandleLogin">
        <h4>Please log in</h4>
        <hr />
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control rounded-pill" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email address">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control rounded-pill" id="exampleInputPassword1" placeholder="********">
        </div>
        <div class="form-check mb-3">
            <label class="form-check-label" for="exampleCheck1">Forgot your password?</label>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary rounded-pill">LOGIN</button>
        </div>
    </form>
</section>

@code{
    private void HandleLogin()
    {
        // TODO: Add authentication logic here

        Navigation.NavigateTo("/dashboard");
    }
}
