@using Components.UIClasses.Cafe;
<button class="max-w-1/4 min-w-50 flex flex-col border border-black shadow-2xl" @onclick="OnClickCallback">
    @if (item.ImageLocation.ToLower().Contains("default"))
    {
        <img class="h-50 aspect-square" id="menuItemImage" src=@Assets[$"lib/images/{item.ImageLocation}"] />
    }
    else
    {
        <img class="h-50 aspect-square" id="menuItemImage" src=@Assets[$"lib/db_images/{item.ImageLocation}"] />
    }
    
    <div class="p-4 text-gray-800">
        <h5 class="mb-2 text-lg font-semibold" >@item.Name</h5>
        <p class="text-base">@item.Description</p>
        <p class="text-base">@item.PriceString</p>
    </div>
</button>

@code {
    [Parameter]
    public MenuItemModel? item { get; set; }
    [Parameter]
    public EventCallback OnClickCallback { get; set; }
}
