
<div class="flex flex-row rounded-full border border-black px-50 py-3">
    <h3 class="px-2 py-1">Coffee</h3>
    <button class="aspect-square w-10 border border-black font-bold">+</button>
    <input type="number" class="field-sizing-content min-w-0" value="1" />
    <button class="aspect-square w-10 border border-black font-bold">-</button>
    <h3 class="px-2 py-1">$6.99</h3>
</div>
@code {

}
