<div class="h-11/12 max-h-11/12 w-2/6 min-w-2/6 border border-black">
    <h5 class="mb-2 justify-center px-2 py-1 text-lg font-semibold">
        Cart
    </h5>
    <div class="flex flex-col border border-black">
        <MenuCartItemLayout />
        <MenuCartItemLayout />
        <MenuCartItemLayout />
        <MenuCartItemLayout />
        <MenuCartItemLayout />
        <MenuCartItemLayout />
    </div>
    <button class="bottom-0 w-full border border-black py-4">
        Total: $000.00
    </button>
</div>
@code {

}
