<div class="h-full w-2/6 min-w-2/6 border border-black">
    <h5 class="mb-2 justify-center px-2 py-1 text-lg font-semibold">
        Cart
    </h5>
    <div class="flex flex-col overflow-y-scroll border border-black">
        @foreach (var cartItem in instance.currentCart.cartItems.Values)
        {
            <MenuCartItemLayout cartMain="this" cartItem=@cartItem/>
        }
    </div>
    <button class="bottom-0 w-full border border-black py-4" @onclick=checkout>
        Total: @instance.currentCart.totalString
    </button>
</div>
@code {
    private POS instance = POS.instance;

    protected override async Task OnInitializedAsync()
    {
        await updateCart();
    }

    public Task updateCart()
    {
        instance.currentCart.updateTotal();
        StateHasChanged();
        return Task.CompletedTask;
    }

    async public void removeFromCart(int id)
    {
        instance.currentCart.removeItem(id);
        await updateCart();
    }

    async public void addToCart(MenuItem item)
    {
        instance.currentCart.addItem(item);
        await updateCart();
    }

    public void checkout()
    {
        //Go to Checkout page and bring cart information over for receipt
        instance.checkout();
    }
}
