@using Components.UIClasses.Cafe;
<div class="min-w-2/6 h-full w-2/6 border border-black">
    <h5 class="mb-2 justify-center px-2 py-1 text-lg font-semibold">
        Cart
    </h5>
    <div class="h-fit w-full overflow-y-scroll border border-black">
        @foreach (var cartItem in instance.CurrentCart.CartItems.Values)
        {
            <MenuCartItemLayout cartMain="this" cartItem=@cartItem/>
        }
    </div>
    <button class="bottom-0 w-full border border-black py-4" @onclick=checkout>
        Total: @instance.CurrentCart.TotalString
    </button>
</div>
@code {
    private PointOfSaleModel instance = PointOfSaleModel.instance;

    protected override async Task OnInitializedAsync()
    {
        await updateCart();
    }

    public Task updateCart()
    {
        instance.CurrentCart.updateTotal();
        StateHasChanged();
        return Task.CompletedTask;
    }

    async public Task removeFromCart(int id)
    {
        instance.CurrentCart.removeItem(id);
        await updateCart();
    }

    async public Task addToCart(MenuItemModel item)
    {
        instance.CurrentCart.addItem(item);
        await updateCart();
    }

    public async Task checkout()
    {
        //Go to Checkout page and bring cart information over for receipt
        await instance.checkout();
        StateHasChanged();
    }
}
