<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    
    <!--- Commended out the bootstrap link --->
    <link rel="stylesheet" href="@Assets["SmartGym.styles.css"]" />
    <link rel="stylesheet" href="@Assets["lib/tailwind/css/output.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />

    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
    
     
</head>

<body>
    <Routes @rendermode=RenderMode.InteractiveServer />
	<script src="_framework/blazor.web.js"></script>
	<script src="https://kit.fontawesome.com/8cd603a128.js" crossorigin="anonymous"></script>
</body>


</html>
