@using Microsoft.AspNetCore.Components.Authorization;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="@Assets["SmartGym.styles.css"]" />
    <link rel="stylesheet" href="@Assets["lib/tailwind/css/output.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />


    <ImportMap />
    <link rel="icon" type="image/png" href="./lib/images/logo.svg" />
    <HeadOutlet />


</head>

<body>
    <CascadingAuthenticationState>
        <Routes @rendermode=RenderMode.InteractiveServer />
    </CascadingAuthenticationState>
    <script src="_framework/blazor.web.js"></script>
  	<script src="https://kit.fontawesome.com/8cd603a128.js" crossorigin="anonymous"></script>

</body>


</html>
