@using SmartGym.Components.Pages

<div class="sidebar border-black-500 min-h-screen w-full max-w-[16rem] border-r-2 bg-[#1b283a]">
    <div class="sidebar-header flex gap-4 p-6 pt-12">
        <div class="user-image flex h-[50px] w-[50px] items-center justify-center rounded-full border-2 border-[#f34f5d] bg-[#f34f5d] p-8 text-2xl text-white">
            K
        </div>
        <div class="flex flex-col items-center justify-center">
            @* dynamic user name fetch *@
            <h2 class="text-sm !text-white">Welcome back, Komal</h2>
        </div>
    </div>

    <div class="sidebar-menu p-6">
        <ul class="flex flex-col gap-4 text-white">
            <li><NavLink class="text-lg !text-white" href="/dashboard" Match="NavLinkMatch.All">Dashboard</NavLink></li>
            <li><NavLink class="text-lg !text-white" href="/dashboard/members">Members</NavLink></li>
            <li><NavLink class="text-lg !text-white" href="/dashboard/classes">Classes</NavLink></li>
            <li><NavLink class="text-lg !text-white" href="/dashboard/bookings">Bookings</NavLink></li>
            <li><NavLink class="text-lg !text-white" href="/POS">Cafe</NavLink></li>
            <li><NavLink class="text-lg !text-white" href="/dashboard/trainers">Trainers</NavLink></li>
            <li><NavLink class="text-lg !text-white" href="/dashboard/settings">Settings</NavLink></li>
            @* <li><NavLink href="/dashboard/reports">Reports</NavLink></li> *@
            <li><NavLink class="text-lg !text-white" href="/logout">Logout</NavLink></li>
        </ul>
    </div>
</div>