@page "/dashboard"

<PageTitle>Admin Portal</PageTitle>

<div class="wrapper flex h-screen">
    <div class="flex h-screen flex-1 flex-col bg-[#f3f4f6]">
        <div class="sticky top-0 z-10 bg-[#f3f4f6]">
            <AdminNavbar />
        </div>
        <!-- Main dashboard content goes here -->
          <div class="flex-1 overflow-y-auto bg-[#f3f4f6] p-6">
            <AdminMain />
            </div>
            <!-- Add more dashboard content/components here -->
        </div>
    
</div>