<div class="sidebar">
    <div class="sidebar-header">
        <div class="user-image text-red-600">
            K
        </div>
        <div>
            @* dynamic user name fetch *@
            <h2 class="text-red-500">Welcome back, Komal</h2>
        </div>
    </div>

    <div class="sidebar-menu">
        <ul>
            <li><NavLink href="/dashboard" Match="NavLinkMatch.All">Dashboard</NavLink></li>
            <li><NavLink href="/dashboard/users">Users</NavLink></li>
            <li><NavLink href="/dashboard/gyms">Gyms</NavLink></li>
            <li><NavLink href="/dashboard/classes">Classes</NavLink></li>
            <li><NavLink href="/dashboard/reports">Reports</NavLink></li>
            <li><NavLink href="/logout">Logout</NavLink></li>
        </ul>
    </div>
</div>