<div class="home-bar absolute top-0 right-0 z-2 flex justify-self-end">
	<img src="lib/images/logo.svg" class="logo" />
	<button class="p-5 mx-5 bg-secondary text-xl hover:bg-violet-600 focus:outline-2">Login</button>
</div>

@code {

}
