@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="font-sans">
    @if (NavigationManager.ToBaseRelativePath(NavigationManager.Uri) == "home")
    {
        <HomeLayout />
        <main>
          @Body
        </main>
    }
    else
    {
      <div class="page">
			<nav class="sidebar border-black-500 border-r-2 bg-primary-900">
				<NavMenu />
			</nav>
			<main class="content hero text-white">
				@Body
			</main>
      </div>
        
    }
    
</div>

<footer class="bg-background text-white text-xl">
  <div class="contained my-[30px]">
        <h2 class="uppercase">The true gains start here.</h2>
        <hr />
        2025 Team Elder - OC Donut Steel
  </div>
</footer>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

