@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<CascadingValue Value="this">
    <div class="font-sans">
        @if (NavigationManager.ToBaseRelativePath(NavigationManager.Uri) == "home")
        {
            <HomeLayout />
            <main>
                @Body
            </main>
        }
        else if (string.IsNullOrEmpty(NavigationManager.ToBaseRelativePath(NavigationManager.Uri)) || NavigationManager.ToBaseRelativePath(NavigationManager.Uri) == "login")
        {
            <main class="hero" style="margin-left:0;">
                @Body
            </main>
        }
        else
        {
                <CascadingAuthenticationState>
                    <AuthorizeView>
                        <div class="sidebar border-black-500 bg-primary-900 border-r-2">
                            <NavMenu />
                        </div>
                        <div class="filler" style="width:16rem; top:0; bottom:0; left:0;" />
                    </AuthorizeView>
                </CascadingAuthenticationState>

                <main class="content hero">
                    <div class="boxed">
                        <CascadingAuthenticationState>
                            <AuthorizeView>
                            <div class="notification-bar bg-text sticky top-0 z-10">
                                    <SearchNavBar @ref=searchNav title=@searchNavTitle isSearchable=@isSearchable OnChangeEventCallBack="searchBarOnChange" />
                                </div>
                            </AuthorizeView>
                        </CascadingAuthenticationState>
                        @Body
                    </div>
                </main>            
        }
        
    </div>

    <div id="blazor-error-ui" data-nosnippet>
        An unhandled error has occurred.
        <a href="." class="reload">Reload</a>
        <span class="dismiss">🗙</span>
    </div>
</CascadingValue>

<footer class="bg-background text-xl text-white">
  <div class="contained my-[30px]">
        <h2 class="uppercase">The true gains start here.</h2>
        <hr />
        2025 Team Elder - OC Donut Steel
  </div>
</footer>

@code
{
    private string searchNavTitle { get; set; } = "Smart Gym";
    private EventCallback<string> searchBarOnChange { get; set; }
    private SearchNavBar? searchNav { get; set; }
    private bool isSearchable { get; set; } = false;

    protected override Task OnParametersSetAsync()
    {
        searchSetupDefault();
        return base.OnParametersSetAsync();
    }

    public async Task setupSearch(EventCallback<string> bodySearchMethod)
    {
        searchBarOnChange = bodySearchMethod;
        isSearchable = true;
        StateHasChanged();
    }

    private Task searchSetupDefault()
    {
        isSearchable = false;
        StateHasChanged();

        return Task.CompletedTask;
    }
}
