@inherits LayoutComponentBase

<div class="page">
    <nav class="sidebar border-black-500 border-r-2 bg-primary-900">
        <NavMenu />
    </nav>
    <main class="content hero text-white">
            @Body
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

