<div class="top-row navbar navbar-dark ps-3">
    <div class="sidebar-header flex gap-4 p-6 pt-12">
        <NavLink class="!text-white" href="myAccount">
            <div class="user-image flex h-[50px] w-[50px] items-center justify-center rounded-full border-2 border-[#f34f5d] bg-[#f34f5d] p-8 text-2xl text-white">
                K
            </div>
        </NavLink>
        <div class="flex flex-col items-center justify-center">
            @* dynamic user name fetch *@
            <h2 class="text-sm !text-white">Welcome back, Komal</h2>
        </div>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable left-px p-6" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex flex-col gap-2 text-white">
        <div class="nav-item">
            <NavLink class="nav-link px-3 text-lg !text-white" href="/dashboard" Match="NavLinkMatch.All">Dashboard</NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link px-3 text-lg !text-white" href="/qrcode">QR Code</NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link px-3 text-lg !text-white" href="/members">Members</NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link px-3 text-lg !text-white" href="/classes">Classes</NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link px-3 text-lg !text-white" href="/bookings">Bookings</NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link px-3 text-lg !text-white" href="/POS">Cafe</NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link px-3 text-lg !text-white" href="/dashboard/trainers">Trainers</NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link px-3 text-lg !text-white" href="/dashboard/settings">Settings</NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link px-3 text-lg !text-white" href="/logout">Logout</NavLink>
        </div>

    </nav>
</div>



