@inject AuthenticationStateProvider AuthenticationStateProvider
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims;

<div class="top-row navbar navbar-dark ps-3">
    <div class="sidebar-header flex gap-4 p-6 pt-12">
        <NavLink class="!text-white" href="myAccount">
            <div class="user-image flex h-[50px] w-[50px] items-center justify-center rounded-full border-2 border-[#f34f5d] bg-[#f34f5d] p-8 text-2xl text-white">
                @userInitial
            </div>
        </NavLink>
        <div class="flex flex-col items-center justify-center">
            @if (userName != null)
            {
                <h2 class="text-sm !text-white">Welcome back, @firstName @lastName</h2>
            }
            else
            {
                <h2 class="text-sm !text-white">Welcome</h2>
            }
        </div>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable left-px p-6" onclick="document.addEventListener('DOMContentLoaded', function() {
        const toggler = document.querySelector('.navbar-toggler');
        if (toggler) {
            toggler.click();
        }
    });">
    <nav class="nav flex flex-col gap-2 text-white">
        <div class="nav-item">
            <NavLink class="nav-link px-3 text-lg !text-white" href="/dashboard" Match="NavLinkMatch.All">Dashboard
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link px-3 text-lg !text-white" href="/qrcode">QR Code</NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link px-3 text-lg !text-white" href="/members">Members</NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link px-3 text-lg !text-white" href="/classes">Classes</NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link px-3 text-lg !text-white" href="/bookings">Bookings</NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link px-3 text-lg !text-white" href=@($"/cafe/{id}-0")>Cafe</NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link px-3 text-lg !text-white" href="/view-orders">View Orders</NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link px-3 text-lg !text-white" href="/dashboard/trainers">Trainers</NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link px-3 text-lg !text-white" href="/dashboard/settings">Settings</NavLink>
        </div>

        <div class="nav-item">
            <form method="post" action="/auth/logout"><button type="submit" value="Submit"
                    class="nav-link cursor-pointer px-3 text-lg !text-white">
                    Logout
                </button></form>
        </div>

    </nav>
</div>

@code {
    private string? userName;
    private string? firstName;
    private string? lastName;
    private string? id;
    private string? userInitial;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity != null && user.Identity.IsAuthenticated)
        {
            userName = user.Identity.Name;
            id = user.FindFirst(ClaimTypes.NameIdentifier)?.Value;
            firstName = user.FindFirst("FirstName")?.Value;
            lastName = user.FindFirst("LastName")?.Value;
            userInitial = firstName?.FirstOrDefault().ToString().ToUpper();
        }
    }
}
