@page "/addnewmember"
@using SmartGym.Constants.Enums
@using SmartGym.Models
@using SmartGym.Services
@using System.Net.Mail
@inject SmartGym.Services.IUserService service
@inject NavigationManager navManager

<PageTitle>Add New Member</PageTitle>

<div>
    <div>
        <div>
            <h4 style="color:green; font-size:40px"><b>Register a New Member</b></h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label asp-for="Input.FirstName">First Name: </label>
                <input @bind=FirstName asp-for="Input.FirstName" class="form-control" aria-required="true"
                    placeholder="first name" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Input.LastName">Last Name: </label>
                <input @bind=LastName asp-for="Input.LastName" class="form-control" aria-required="true"
                    placeholder="last name" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Input.Email">Email: </label>
                <input @bind=Email asp-for="Input.Email" class="form-control" autocomplete="username"
                    aria-required="true" placeholder="email address" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div>
                <label for="dob">DOB: </label>
                <input @bind=DateOfBirth type="date" id="dob" name="DOB" />
            </div>
            <div>
                <label for="plans">Membership Plan: </label>
                <select @bind=Role name="plans" id="plans">
                    <option value="" disabled selected>Select a plan</option>
                    <option value="0">Member</option>
                    <option value="1">MemberPlus</option>
                    <option value="2">MemberPremium</option>
                    <option value="3">Staff</option>
                    <option value="4">Trainer</option>
                    <option value="5">Manager</option>
                </select>
            </div>
            <button @onclick=AddMember class="">[Register]</button>
            <a href="/members">Cancel</a>
        </div>
    </div>
</div>

@code {
    public string FirstName { get; set; }
    public string LastName { get; set; }
    public string Email { get; set; }
    public string Role { get; set; }
    public DateTime DateOfBirth { get; set; } = DateTime.Now;

    /// <summary>
    /// Adds a member to the table
    /// </summary>
    /// <returns></returns>
    private async Task AddMember()
    {
        // check first name, last name
        if (pageIsValid())
        {
            // TODO: popup error
            UserDto tempUser = new UserDto();
            tempUser.Name = $"{FirstName} {LastName}";
            tempUser.FirstName = FirstName;
            tempUser.LastName = LastName;
            tempUser.Email = Email;
            tempUser.DateOfBirth = DateOfBirth;
            tempUser.Status = 0;
            tempUser.CreatedDate = DateTime.Now;
            tempUser.UpdatedDate = DateTime.Now;
            await service.CreateUser(tempUser);
            navManager.NavigateTo("/members", true);
        }
        else
        {
            await Task.CompletedTask;
        }
    }

    bool pageIsValid()
    {
        if (isEmpty(FirstName))
        {
            // TODO: popup error
            return false;
        }
        else if (isEmpty(LastName))
        {
            return false;
        }
        else if (!emailIsValid())
        {
            return false;
        }
        else if (isEmpty(Role))
        {
            return false;
        }
        return true;
    }

    bool isEmpty(string s)
    {
        return (s.Trim() == "");
    }

    private bool emailIsValid()
    {
        try
        {
            MailAddress m = new MailAddress(Email);
            return true;
        }
        catch (Exception e)
        {
            return false;
        }
    }
}